@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-darkbg: #0a0a0a;
    --color-lightbg: #f9f9f9;
}

html {
    font-family: "Geist", sans-serif;
}

@keyframes story-progress {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.prose :where(pre):not(:where([class~="not-prose"], [class~="not-prose"] *)),
.hljs {
    background-color: #141414 !important;
}

/* Minimal scrollbar styling */
* {
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #a1a1aa;
    border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
    *::-webkit-scrollbar-thumb {
        background-color: #52525b;
    }
    * {
        scrollbar-color: #52525b transparent;
    }
    ::selection {
        background-color: #ff616142;
        color: #ff9494;
    }
}

@media (prefers-color-scheme: light) {
    * {
        scrollbar-color: #a1a1aa transparent;
    }
    ::selection {
        background-color: #ff616142;
        color: #521f1f;
    }
}
