//go:build js && wasm

package main

import (
	"github.com/rfwlab/rfw/v1/core"
	"github.com/rfwlab/rfw/v1/router"
	_ "{{moduleName}}/pages"
)

func main() {
	core.SetDevMode(true)
	router.InitRouter()
	select {}
}
